<div class="thumb">
    <img class="image" src="/assets/UNIFIL.jpeg" alt="UNIFIL logo"/>
  <div class="content">
    I worked there
  </div>
</div>

<div class="thumb">
  <img class="image" src="/assets/MIT.jpg" alt="MIT"/>
  <div class="content">
    What's happening?!
  </div>
</div>

<div class="thumb">
  <img class="image" src="/assets/csail.jpg" alt="MIT CSAIL"/>
  <div class="content">

  </div>
</div>

