<div class="well span3" id="sidebar">

    <br>
    <div class="slide-up">
        <img src="/assets/andrew.jpg" alt="profile picture"/>
        <img src="/assets/andrew2.jpg" alt="profile picture"/>
    </div>
  </div>

  <div class="span8">

    <div class="content">
      <div class="title">
        <h3><%= t "name" %></h3>
      </div>


      <%= t "main_intro_html" %>

      <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
      <!--<div id="player"></div>-->



    </div>

</div>


