<% provide(:title, "works") %>
<div class="container">

    <div class="offset2 span8">
        <h3>Coursework in MIT</h3>

        <p>
            2013 Spring Semester (Sophomore)<br>
            <ul>
                <li> 6.003 Signals & Systems</li>
                <li> 6.041 Probabilistic Systems Analysis </li>
                <li> 6.170 Software Studio</li>
                <li> 6.004 Computation Structures</li>
                <li> 15.401 Finance Theory I</li>
            </ul>
        </p>
        <p>
            2010 Fall Semester (Sophomore)<br>
            <ul>
                <li> 6.005 Elements of Software Construction</li>
                <li> 6.006 Introduction to Algorithms</li>
                <li> 18.03 Differential Equations</li>
                <li> CMS.100 Introduction to Media Stuides</li>
                <li> 6.01 Introduction to EECS I (Lab Assistant) </li>
            </ul>
        </p>
        <p>
            2010 Spring Semester (Freshman)<br>
            <ul>
                <li> 6.01 Introduction to EECS I</li>
                <li> 6.02 Introduction to EECS II</li>
                <li> 14.01 Principle of Microeconomics</li>
                <li> 7.013 Introductory Biology</li>
            </ul>
        </p>
        <p>
            2009 Fall Semester (Freshman)<br>
            <ul>
                <li> 18.022 Calculus</li>
                <li> 3.091 Introduction to Solid-State Chemistry</li>
                <li> MAS.100 Fundamental of Computational Media Design</li>
                <li> 21F.222 Expository Writing for Bilingual Students</li>
            </ul>
        </p>
    </div>
</div>
