p {
  font-size: 18px;
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 140%;
}

.thumb .content p{
  font-size:  17px;
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 160%;
}

.title{

  h3{
    font-family: 'Nanum Brush Script', cursive;
  }

}