
body {
    background: url("/assets/green_background.jpg") center center fixed;
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}

.title {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.custom {
    position: fixed;
    height: 45px;
    background-color: #333333;
    top: 0;
    left: 0;
    right: 0;
}

.custom .nav {
    width:400px;

    margin-right: auto;
    margin-left: auto;
}

.custom > ul {
    list-style-type: none;
    overflow: hidden;
}

.custom > ul > li {
    float: left;
    margin-top: 10px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 18px;
}

.custom > ul > li > a {
    color: #FFBF00;
}

.custom > ul > li > a:visited {
    background-color: #aaa;
}

.custom > ul > li > a:hover {
    background-color: #aaa;
}

p > a {
    color: #005188;
}

a:hover {
    text-decoration: none;
}

body {
    background-color: #acd16c;
}



.row-fluid {
    margin: 10px;
}

.thumb{
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    margin: 15px;
    background-color: #a9dba9;
}


.thumb .content{
    margin: 10px;
    float: left;
    width: 550px;
}

.clear{
    clear: both;
}

.image{
    margin: 15px;
    width: 250px;
    float: left;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

}



#sidebar {
    background-color: #dbd589;
}

.well {
    border: 0px;
    margin-top: 10px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.container {
    border: 0px;
    margin-top: 30px;
    background-color: #738b48;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

p {
    font-size: 16px;

}

.indent {
    position: relative;
    left: 40px;
}